<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { onMounted } from "vue";
import ProductDialog from "./ProductDialog.vue";

const productStore = useProductStore();

onMounted(async () => {
  await productStore.getProducts();
});
</script>
<template>
  <ProductDialog></ProductDialog>
  <v-row>
    <v-col cols="12" md="11">
      <v-btn
        class="mt-5 mb-2 mdi mdi-plus"
        style="float: right; background-color: #8ad879; color: white"
        @click="productStore.dialog = true"
        >Add New</v-btn
      >
    </v-col></v-row
  >
  <v-container>
    <v-table justify="center">
      <thead>
        <tr>
          <th width="15%">ID</th>
          <th width="20%">Name</th>
          <th width="20%">Price</th>
          <th width="20%">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of productStore.products" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>
            <v-btn
              class="mr-10 mdi mdi-pencil-outline"
              style="background-color: #fa9f42; color: white"
              @click="productStore.editProduct(item)"
              >Edit</v-btn
            >
            <v-btn
              class="mdi mdi-delete-forever"
              style="background-color: #f3533a; color: white"
              @click="productStore.deleteProduct(item.id!)"
              >Delete</v-btn
            >
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-container>
</template>
