<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import UserDialog from "./UserDialog.vue";

const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUsers();
});
</script>
<template>
  <UserDialog></UserDialog>

  <v-row>
    <v-col cols="12" md="11"
      ><v-btn
        class="mt-5 mb-2 mdi mdi-plus"
        style="float: right; background-color: #8ad879; color: white"
        @click="userStore.dialog = true"
        >Add New</v-btn
      >
    </v-col></v-row
  >
  <v-container>
    <v-table justify="center">
      <thead>
        <tr>
          <th width="15%">ID</th>
          <th width="20%">Login</th>
          <th width="20%">Name</th>
          <th width="20%">Password</th>
          <th width="25%">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of userStore.users" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.login }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.password }}</td>
          <td>
            <v-btn
              class="mr-5 mdi mdi-pencil-outline"
              style="background-color: #fa9f42; color: white"
              @click="userStore.editUser(item)"
              >Edit</v-btn
            >
            <v-btn
              class="mdi mdi-delete-forever"
              style="background-color: #f3533a; color: white"
              @click="userStore.deleteUser(item.id!)"
              >Delete</v-btn
            >
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-container>
</template>
