<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components/";

const form = ref<VForm | null>(null);
const userStore = useUserStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await userStore.saveUser();
  }
}
</script>
<template>
  <v-dialog v-model="userStore.dialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">User Profile</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  label="Login*"
                  required
                  v-model="userStore.editedUser.login"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length is must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  label="Name*"
                  required
                  v-model="userStore.editedUser.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length is must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Password*"
                  :type="userStore.showPassword ? 'text' : 'password'"
                  required
                  v-model="userStore.editedUser.password"
                  :append-icon="
                    userStore.showPassword ? 'mdi-eye' : 'mdi-eye-off'
                  "
                  :append-icon-cb="
                    () => (userStore.showPassword = !userStore.showPassword)
                  "
                  @click:append="
                    userStore.showPassword = !userStore.showPassword
                  "
                  :rules="[
                    (v) => !!v || 'Password is required',
                    (v) =>
                      (v && v.length >= 8) ||
                      'Password must be at least 8 characters',
                    (v) =>
                      /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].+$/.test(
                        v
                      ) ||
                      'Password must contain at least one special letter, one uppercase, one lowercase letter and one number',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="userStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card></v-dialog
  >
</template>
